@model IEnumerable<GYMdoJime2_Modulo17E.Models.Salas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.ActionLink("Ordenar as salas", "Index", new { id = 1})

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeSala)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeSala)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SalaID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SalaID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SalaID })
            </td>
        </tr>
    }

</table>
